# cube.link - Data Integration

This notebook demonstrates the data integration process starting from a "messy" offical CSV to a RDF cube according to cube.link schema.

## Read Raw Data

In [1]:
import pandas as pd

df = pd.read_csv('https://dam-api.bfs.admin.ch/hub/api/dam/assets/31646012/master')

df.head()

,GEO_NR,GEO_NAME,CLASS_HAB,GEOM_PERIOD,VARIABLE,SOURCE,VALUE_PERIOD,UNIT_VALUE,VALUE,OBS_CONFIDENCE,STATUS
0,CH,Schweiz / Suisse,Total,2023-01-01,tran_t,MFZ,2022,Num,6368579.0,NaN,A
1,CH,Schweiz / Suisse,Total,2023-01-01,voit_tour,MFZ,2022,Num,4721280.0,NaN,A
2,CH,Schweiz / Suisse,Total,2023-01-01,voit_tour_e,MFZ,2022,Num,110751.0,NaN,A
3,CH,Schweiz / Suisse,Total,2023-01-01,voit_livr,MFZ,2022,Num,421014.0,NaN,A
4,CH,Schweiz / Suisse,Total,2023-01-01,tran_lou,MFZ,2022,Num,54700.0,NaN,A

## Get Overview of the Data

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2223 entries, 0 to 2222
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GEO_NR          2223 non-null   object
 1   GEO_NAME        2223 non-null   object
 2   CLASS_HAB       2223 non-null   object
 3   GEOM_PERIOD     2223 non-null   object
 4   VARIABLE        2223 non-null   object
 5   SOURCE          2223 non-null   object
 6   VALUE_PERIOD    2223 non-null   object
 7   UNIT_VALUE      2223 non-null   object
 8   VALUE           2223 non-null   float64
 9   OBS_CONFIDENCE  513 non-null    float64
 10  STATUS          2223 non-null   object
dtypes: float64(2), object(9)
memory usage: 191.2+ KB

What are the numbers for the unique values for each column?

In [4]:
overview = {col: df[col].nunique() for col in df.columns}
display(overview)

{'GEO_NR': 171,
 'GEO_NAME': 171,
 'CLASS_HAB': 7,
 'GEOM_PERIOD': 2,
 'VARIABLE': 13,
 'SOURCE': 4,
 'VALUE_PERIOD': 2,
 'UNIT_VALUE': 2,
 'VALUE': 1659,
 'OBS_CONFIDENCE': 158,
 'STATUS': 1}